<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#fetchCompaniesDetails">
  UPDATE&nbsp;companies&nbsp;details
</button>

<!-- Modal -->
<div class="modal fade" id="fetchCompaniesDetails" tabindex="-1" role="dialog"
 aria-labelledby="fetchCompaniesDetails" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fetchTitle">Confirm to update comanies datails</h5>
        <button class="btn-close" data-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        By confirm you will download actual companies details <br />
        and upadte companies databese.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Dismiss</button>
        <%= link_to('Update', companies_update_companies_details_path, class: "spinner-button btn btn-outline-primary btn-sm") %>
      </div>
    </div>
  </div>
</div>
