<<<<<<< HEAD
<nav class="breadcrumb">
  <span class="breadcrumb-item active small ">Stock</span>
</nav>
=======
<p class="th-5 text-muted">Companies</p>
<noscript>You don't have javascript enabled. Please follow this link for assistance in turning it on.
 <%= link_to "Turn on javascript", "http://www.enable-javascript.com" %></noscript>
>>>>>>> Refactor code, add alert

<%= render 'companies', companies: @companies %>
