<nav class="breadcrumb">
  <span class="breadcrumb-item active small ">Stock</span>
</nav>

<noscript>
  <div class="alert alert-warning d-flex align-items-center mt-2" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <div>
  <div class="notice">You don't have javascript enabled. Please follow this link for assistance in turning it on.
    <%= link_to "Turn on javascript", "http://www.enable-javascript.com" %>
  </div>
</noscript>

<%= render 'companies', companies: @companies %>
