<p class="th-5 text-muted">Company</p><br />
<h2>Company name: <%= @company.name %></h2><br />
<h4>Company symbol: <%= @company.symbol %></h4><br />
<h5 class="text-muted">Id in database: <%= @company.id %></h5>
