<form class="form-inline d-flex">
   <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
   <button class="btn btn-outline-secondary btn-sm" type="submit" role="button">Search</button>
</form>
