<nav class="navbar navbar-dark bg-light">
  <div class="container-fluid">
    <a class="nav-link text-dark" href="#">GPW&nbsp;stock</a>
    <a class="nav-link text-dark" href="#">NewConnect&nbsp;stock</a>
    <form class="form-inline d-flex">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary btn-sm my-2 my-sm-0 d-inline" type="submit">Search</button>
    </form>
  </div>
</nav>
