<table>
<thead>
</thead>
<tbody>
   <tr class="row">
      <td class="h6 text-muted">
         <hr>Find company
      </td>
   </tr>
   <tr class="row">
      <td>
         <form class="bd-search d-flex">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary btn-sm" type="submit" role="button">Search</button>
         </form>
      </td>
   </tr>
   <tr>
      <td>
         <hr>
         <a href="#" class="nav-link text-dark">GPW&nbsp;base</a>
      </td>
   </tr>
   <tr>
      <td>
         <a href="#" class="nav-link text-dark">NewConnect&nbsp;base</a>
      </td>
   </tr>
   <tr>
      <td>
         <hr>
         <a href="#" class="nav-link text-dark disable">Add&nbsp;company</a>
      </td>
   </tr>
</tbody>
</table>
