<ul class="nav justify-content-center flex-nowrap">
  <li class="nav-item">
    <a class="nav-link  href="#">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Help</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contact</a>
  </li>
  <li class="nav-item">
    <%= link_to 'Legal reservations', legal_reservations_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">&copy;&nbsp;2022</a>
  </li>
</ul>

<ul class="nav justify-content-center flex-nowrap">
  <li class="nav-item">
    <a class="nav-link text-secondary" href="https://www.gpw.pl/">Go to GPW</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="https://newconnect.pl/">Go to NewConnect</a>
  </li>
</ul>
