<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active aria-current="page"" href="#">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Help</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">&copy;&nbsp;2022</a>
  </li>
</ul>
