<div class="row container-fluid justify-content-md-end">
    <div class="col-1">
      <a class="nav-link" href="#">About</a>
    </div>
    <div class="col-1">
      <a class="nav-link" href="#">Link</a>
    </div>
    <div class="col-3">
      <a class="nav-link" href="#">Help</a>
    </div>
    <div class="col-2">
      <a class="nav-link" href="#">&copy;&nbsp;2022&nbsp;Contact</a>
    </div>
</div>
