<% if user_signed_in? %>
  <div class="d-flex flex-nowrap">
    <%= link_to current_user.email, '#', class: "nav-link" %>
    <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary d-inline" %>
  </div>
<% else %>
  <%= link_to 'Login', new_user_session_path, class: "btn btn-outline-success" %>
<% end %>
